
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img class="main-img" src="https://pngimg.com/uploads/crowd/crowd_PNG44.png" />
    </div>


    <div class="main">
        <partial name="Login" />
        <partial name="Register" />
    </div>

</div>
